body {
    background: #1F2833;
    color: white;
}

.header {
    font-size: 1.2em;
}

.header-box {
    font-size: 0.5em;
    padding-bottom: 1em;
}

.title {
    font-size: smaller;
    font-weight: 100;
}

.carrousel > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.movie-card {
    position: relative;
    background-color: #C5C6C7;
    color: #1F2833;
    height: 10em;
    width: 15em;
    transition: 0.3s;
    border-radius: 1em 0 0em 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.movie-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-card:hover .selected{
    color: antiquewhite;
    opacity: 1.1;
}

.selected {
    position: absolute;
    background: rgba(246, 76, 114, 0.3);
    opacity: 0;
    height: 100%;
    padding: 3.21em;
    font-size: 1em;
    transition: 0.5 ease;
    text-align: center;
    right: 0;
}

.info-box {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 5em;
}

.movie-title {
    font-size: 0.8em;
}

.movie-year {
    font-size: 0.5em;
}

.movie-id {
    font-size: 0.6em;
}

.movie-poster > img {
    max-height: 10em;
}

.form-control {
    width: 10em;
}